/**
Software License Agreement (BSD)

\file      {{project}}_state_callbacks.h
\authors   Mani Monajjemi <mmonajje@sfu.ca>
\copyright Copyright (c) 2015, Autonomy Lab (Simon Fraser University), All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Autonomy Lab nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

 * {{project}}_state_callbacks.h
 * auto-generated from {{url}}
 * Do not modify this file by hand. Check scripts/meta folder for generator files.
 */

#ifndef BEBOP_AUTONOMY_AUTOGENERATED_{{project}}_STATE_CALLBACKS_H
#define BEBOP_AUTONOMY_AUTOGENERATED_{{project}}_STATE_CALLBACKS_H

extern "C"
{
  #include "libARSAL/ARSAL.h"
  #include "libARController/ARController.h"
}

#include "bebop_driver/autogenerated/callbacks_common.h"
#include "bebop_driver/BebopArdrone3Config.h"

{{#cpp_class}}
#include "bebop_msgs/{{cpp_class_msg_type}}.h"
{{/cpp_class}}

namespace bebop_driver
{
namespace cb
{

{{#cpp_class}}

// {{cpp_class_comment}}
class {{cpp_class_name}} : public AbstractState
{
private:
  ::bebop_msgs::{{cpp_class_msg_type}}::Ptr msg_ptr;

public:

  {{cpp_class_name}}(::ros::NodeHandle& nh, ::ros::NodeHandle& priv_nh, const ::std::string& topic)
    : AbstractState({{key}})
  {
    if (priv_nh.getParam("{{cpp_class_param_name}}", pub_enabled_) && pub_enabled_)
    {
      ARSAL_PRINT(ARSAL_PRINT_INFO, "CB" , "[STATES] Enabling %s", topic.c_str());
      ros_pub_ = nh.advertise<bebop_msgs::{{cpp_class_msg_type}}>(topic, {{queue_size}}, {{latched}});
    } // pub_enabled_ is false
  }

  ::bebop_msgs::{{cpp_class_msg_type}}::ConstPtr GetDataCstPtr() const
  {
    ::boost::lock_guard<boost::mutex> lock(mutex_);
    return msg_ptr;
  }

  void Update(const ARCONTROLLER_DICTIONARY_ARG_t *arguments, const ::ros::Time& t)
  {
    if (arguments == NULL)
    {
      ARSAL_PRINT(ARSAL_PRINT_WARNING, "CB", "{{cpp_class_name}}::Update() arguments is NULL");
      return;
    }

    ::boost::lock_guard<boost::mutex> lock(mutex_);
    msg_ptr.reset(new ::bebop_msgs::{{cpp_class_msg_type}}());
    msg_ptr->header.stamp = t;
    msg_ptr->header.frame_id = "{{frame_id}}";

{{#cpp_class_arg}}

    arg = NULL;
    HASH_FIND_STR (arguments, {{cpp_class_arg_key}}, arg);
    if (arg)
    {
      msg_ptr->{{cpp_class_arg_name}} = arg->value.{{cpp_class_arg_sdk_type}};
    }
{{/cpp_class_arg}}

    if (pub_enabled_) ros_pub_.publish(msg_ptr);
  }

};  // {{cpp_class_name}}

{{/cpp_class}}

}  // namespace cb
}  // namespace bebop_driver
#endif  // BEBOP_AUTONOMY_AUTOGENERATED_{{project}}_STATE_CALLBACKS_H