<?xml version="1.0"?>
<launch>
    <group ns="bebop">
        <node pkg="bebop_driver" name="bebop_driver" type="bebop_driver_node" output="screen">
            <param name="camera_info_url" value="package://bebop_driver/data/bebop_camera_calib.yaml" />
            <param name="bebop_ip" value="192.168.0.101" />
            <rosparam command="load" file="$(find bebop_driver)/config/defaults.yaml" />
        </node>
    </group>
</launch>
